@font-face {
    font-family: 'Engrunes';
    src: url('fonts/Engrunes-Rgular.ttf') format('ttf');

}

:root {
    --fondo: #eaedf5;
    --color-encima: #ffffffcc;
    --color-borde: #00000010;
    --filter-encima: overlay;
    --color-text: #000000;
    --filter-icons: none;
    --lila: #914EFF;
    --lila-light: #914EFF80;
    --vermell: #F51A1B;
    --header-color: #ffffff;
    --filter-negative: none;
    --lila: #914EFF;
    --transparent-light: #b9b9b950;
    --ombra01: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --fons-portada: url(images/IMG_1288.PNG);
    --foto-portada: url(images/portada_light.PNG);
    --grey: #e3e3e3;

}

.dark-mode {
    --fondo: #151515;
    --header-color: #ffffff20;
    --color-encima: #2f2f2fcc;
    --filter-encima: ;
    --color-borde: #ffffff10;
    --color-text: #ffffff;
    --filter-icons: invert(100%);
    --filter-negative: none;
    --fons-portada: url(images/IMG_1288.PNG);
    --foto-portada: url(images/dark.PNG);
    --grey: #525252;
}


body,
html {
    background-color: var(--fondo);
    font-family: 'Inter', 'Arial', sans serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s;
    position: fixed;
}


.textura-fons {
    background: url(images/texture.jpg);
    position: absolute;
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    opacity: 20%;
}


h1 {
    font-size: 5rem;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    font-weight: 400;
    color: var(--color-text);
    margin: 0;
}

h2 {
    font-size: 50px;
    line-height: 0.8em;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
    color: var(--color-text);
}

h3 {
    font-size: 32px;
    line-height: 0.8em;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
    color: var(--color-text);
}

p {
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: -0.05em;
    margin: 0;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

main {
    height: 100%;
    width: 100%;
}

.main-content {
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.button {
    border: 0;
    background: #914EFF;
    border-radius: 5rem;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: fit-content;
    align-self: center;



}

.button img {
    text-align: center;
}

.button:hover {

    font-weight: 500;
    text-decoration: none;
    color: black;
}


.iniciar-sessio {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    position: fixed;



}

.iniciar-sessio h3 {
    padding: 1.5rem;
}

.power-button {
    display: flex;

    right: 5rem;
    bottom: 3rem;
    position: fixed;
}

#draggable {
    pointer-events: none;
    width: 40%;
    height: 70%;
    left: 5rem;
}

#overlay {
    display: flex;
    box-shadow: var(--ombra01);
    z-index: 100;
    left: -100%;
    transition: left 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;


}

#overlay.show {
    left: 0;

    opacity: 1;
    pointer-events: all;
}

#overlay-2 {
    display: flex;
    z-index: 100;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay-2.show {
    opacity: 1;
    pointer-events: all;
}

#overlay-3 {

    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay-3.show {
    opacity: 1;
    pointer-events: all;
}

#overlay-4 {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay-4.show {
    opacity: 1;
    pointer-events: all;
}


#overlay-habilitats {

    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay-habilitats.show {
    opacity: 1;
    pointer-events: all;
}

#overlay-5 {

    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#overlay-5.show {
    opacity: 1;
    pointer-events: all;
}

.power-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--color-encima);

    width: 10rem;
    padding: 1rem;
    border-radius: 14px;
    right: 5rem;
    bottom: 7rem;
    gap: 1rem;
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

.power-nav a {
    display: flex;
    align-items: center;
}

.power-nav.side {

    left: 5rem;
    top: auto;
    right: auto;
    bottom: auto;
    transform: translate(0%, 80%);
}

.power-nav ul {
    padding: 0;
    margin: 0;
    align-items: center;


}

.power-nav ul img {
    margin-right: 1rem;
    align-items: center;
    filter: var(--filter-icons);
}


.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    justify-content: center;


}

.header-display {
    display: flex;
    flex-direction: column;
    /**background-color: var(--header-color);**/
    background-blend-mode: overlay;


    width: auto;
    height: auto;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.navbar-link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    border-radius: 20rem;
    cursor: pointer;
    background-color: var(--color-encima);
    backdrop-filter: blur(30px);
    box-shadow: var(--ombra01)
}


.navbar-link.active {
    background-color: var(--lila);
}

.navbar-link img {
    display: block;
    margin: 0 auto;
    width: 1.7rem;
    filter: var(--filter-icons);
}

.navbar-link.active img {
    filter: invert(100%);
}

.button-container {
    position: relative;
    display: inline-block;
}

.hover-text {
    visibility: hidden;
    background-color: var(--color-encima);
    color: var(--color-text);
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 125%;
    opacity: 0;
    transition: opacity 0.3s;

}

.navbar-link:hover + .hover-text {
    visibility: visible;
    opacity: 1;
}


.header a:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
}




.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fons-portada);
    background-position: flex-start;
    background-size: cover;
}

.escritorio {
    display: flex;
    unicode-bidi: isolate;
    align-items: center;
    justify-content: center;

}

.carpeta-escriptori {

    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    position: absolute;
    align-self: flex-start;
    margin-top: 10%;
    margin-left: 10%;
}

.carpeta-escriptori:hover {
    background-color: #11111110;
}

.container-escritorio {
    display: flex;
    flex-direction: column;
    position: absolute;

    align-items: flex-end;
    left: 5.3rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;


}

.calendari-escriptori {

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--color-encima);
    backdrop-filter: blur(30px);
    border-radius: 1rem;
    gap: 1rem;
    bottom: 0;
    right: 0;
    margin: 1rem;
    box-shadow: var(--ombra01);

}

.calendari-escriptori .dies-columna {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 0;

}

.calendari-escriptori .dies {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0m;
}

.calendari-escriptori .dies p {
    padding: 0.5rem;
    border-radius: 14rem;

}

.calendari-to-do li {
    border-left: 0.3rem solid var(--lila);
    padding-left: 0.7rem;

    color: var(--color-text);
    font-size: 20px;

}

.calendari-escriptori li p {

    opacity: 50%;

}

.calendari-to-do ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.spotify-link {
    width: fit-content;
    height: fit-content;

    padding: 1rem;
}

.escritorio .logo-fons {
    position: absolute;
    width: 50%;
    margin: 0;

}

.hora-escriptori {
    width: fit-content;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;

    border-radius: 14px;
    margin: 1rem;
}

#draggable {
    position: absolute;


}

.capitol {

    display: flex;
    flex-direction: column;
    background-color: var(--color-encima);


    border-radius: 30px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: var(--ombra01);
    backdrop-filter: blur(30px);

}



/**.capitol p {
    color: black;
    font-family: 'Engrunes';
    font-size: 40px;
    line-height: 0.9;
    letter-spacing: 0;
    
}
**/
.arxius {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-encima);
    background-blend-mode: invert;
    backdrop-filter: blur(30px);
    left: 100px;
    border-radius: 30px;
    height: 100%;
    width: 100%;

    border: 1px;
    border-color: var(--color-borde);
    border-style: solid;




}

.etiqueta {
    background-color: var(--transparent-light);
    backdrop-filter: blur(30px);
    stroke: 1px;
    padding: 0.5rem 1rem;
    border-radius: 14rem;
    font-size: 14px;
    width: fit-content;

}

.header-arxius {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;




}



.container-arxius {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 14px 14px;
    align-items: center;

    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;


}

.container-arxius::-webkit-scrollbar {
    width: 0.7em;
    background-color: transparent;




}

.container-arxius::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-arxius::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 30px;



}

.carpeta {
    display: flex;
    flex-direction: row;
    border-radius: 14px;

    width: 100%;
    background-blend-mode: multiply;
    background-color: var(--grey);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1rem;
    padding-left: 1rem;
    scale: 1;
    transition: scale 0.2s ease-in-out;



}

.carpeta.active {
    background-color: #914eff;

    opacity: 100%;
}

.imatge-carpeta {

    height: 100%;
    background-color: white;
    border-radius: 14rem;
}

.objecte-capitol {

    position: relative;
    height: 10rem;


    mix-blend-mode: multiply;



}

.carpeta-text {


    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}


.carpeta.active:hover {
    opacity: 90%;
    scale: 1.05;
    transition: scale 0.2s ease-in-out;
}

.resta-capitols {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.resta-capitols-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;

}


.capitol-principal {
    width: 100%;
    height: 50%;
    display: flex;
}



.container-capitol {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    color: black;
    height: -webkit-fill-available;
    width: 100%;

    filter: var(--filter-negative);


    //***padding-right:0.5rem;***//
}



.container-capitol::-webkit-scrollbar {
    width: 0.7em;
    background-color: transparent;

}

.container-capitol::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-capitol::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 30px;

}

/**projecte**/
.container-projecte {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-y: scroll;
    height: 100%;
}

.container-projecte::-webkit-scrollbar {
    width: 0.7em;
    background-color: transparent;

}

.icon-projecte {
    width: 20rem;
    height: fit-content;
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 5%;
}

.intro-projecte {
    padding: 1rem;
    gap: 1rem;

}

.container-projecte::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-projecte::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 30px;

}

.imatge-projecte {
    width: -webkit-fill-available;
    max-height: 100%;
    max-width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}

.portada-projecte {
    width: -webkit-fill-available;

}


.seccio {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    gap: 1rem;

}

.text-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    display: flex;
    flex-direction: column;

}

.text-hidden p {
    margin-bottom: 1rem;
}

.text-hidden.show {
    max-height: 1000px;
    /* Suficientmente grande para contener el contenido */
}


/**capitol1**/
.vineta {
    position: relative;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: fit-content;

}

.vineta p {
    color: black;


}

.vineta h3 {
    color: black;
}

.vineta h2 {
    color: black;
}

.vineta.last h3 {
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-bottom: 0.5rem;
}

.vineta.last p {
    color: white;
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

}

.vineta.last {
    padding-top: 10rem;
    padding-bottom: 10rem;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: center;
    background: black;

}



.bafarades {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

}

.bafarada {


    padding: 1rem;

    border: 1px solid #111;

    border-color: black;

    border-radius: 14px;
    background-color: white;
    z-index: 10;

}

.baf-img {
    width: 30%;
    margin-top: 10%;
}


.baf-img.left {

    margin-left: 3%;
    align-self: flex-start;
}

.baf-img.right {

    margin-right: 3%;
    align-self: flex-end;
}

.baf-img.center {
    align-self: center;
}

.scan {
    display: flex;
    width: 100%;
    height: 100%;

}

.scan-object {
    position: absolute;
    height: 150vh;




}

.scan-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;



}

.scan-info.up {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 100%;

}

.scan-button {

    border: 0.2rem solid var(--lila);
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lila);
    font-size: 2rem;
    cursor: pointer;
}

.scan-button:hover {
    background: var(--lila-light);

}

.scan-text {

    display: flex;
    flex-direction: column;
    background-color: var(--lila-light);
    backdrop-filter: blur(30px);
    padding: 2rem;
    gap: 1rem;
    bottom: 50rem;
    border-radius: 14px;
}

.scan-line {
    height: 10%;
    width: auto;
    border-left: 0.2rem solid var(--lila);
}

.image-guardiola,
.guardiola {
    display: block;
    width: 100%;
}

.guardiola {
    display: none;
}

.vineta.concert {
    position: relative;

}

.imatge-concert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



#concert2 {

    opacity: 0;
}

.habilitats-button {
    background: var(--lila);
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 14rem;
    cursor: pointer;
    right: 0;
    margin-top: 30%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;


}

.habilitats {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--lila-light);
    border-radius: 1rem;
    align-self: flex-end;
    top: 0;
    backdrop-filter: blur(30px);



}

.barra-habilitat {
    height: 1rem;
    background: white;
    border-radius: 15rem;
}

.barra-habilitat.omplert {
    background: var(--lila);
    height: 100%;
    width: 50%;
}


input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    margin: 0;
    align-self: left;



}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--vermell);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--lila);
    border-radius: 50%;
    cursor: pointer;
}

@keyframes shake-little {


    10% {
        transform: translate(0.1%, 0.1%) rotate(.2deg);
    }



}

@keyframes shake-normal {


    10% {
        transform: translate(0.5%, 0%) rotate(.2deg);
    }



}

.shake {
    animation-name: shake-little;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.shake.normal {
    animation-name: shake-normal;

}

.agraiment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30rem;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {

    .container {
        align-items: flex-start;
    }

    .header {
        position: fixed;

        flex-direction: row;
        height: 6rem;
        width: 100%;
        justify-content: space-around;
        bottom: 0;
        top: auto;
        height: fit-content;
    }

    .header-display {
        flex-direction: row;
        width: 100%;


        gap: 1rem;
        margin: 0;

    }



    .main-content {
        flex-direction: column;
        width: 100%;
        height: 100%;

    }

    .hora-escriptori {
        width: -webkit-fill-available;
        margin-top: 20%;
        align-items: center;
    }

    .calendari-escriptori {


        width: -webkit-fill-available;
        max-width: 40rem;
        align-items: stretch;




    }

    .calendari-escriptori li {
        font-size: 14px;

    }

    .calendari-escriptori p {
        font-size: 14px;



    }

    .calendari-escriptori .dies p {
        font-size: 14px;
        padding: 0.1rem;
    }


    .spotify-link {
        width: -webkit-fill-available;
        height: fit-content;

        padding: 1rem;
    }

    #overlay {
        top: auto;
        bottom: -100%;
        left: 0;
        height: 50%;
        transition: bottom 0.5s ease, opacity 0.5s ease;



    }

    #overlay.show {

        left: 0;

        bottom: 0;

        transition: bottom 0.5s ease, opacity 0.5s ease;


    }

    .arxius {

        width: 100%;

        position: absolute;
        margin: 0;

        align-content: center;
        border-radius: 30px 30px 0 0;


    }

    .arxius h3 {
        font-size: 20px;

    }

    .arxius p {
        font-size: 15px;
    }


    .escritorio {
        height: 100%;
        width: 100%;
        padding: 1rem;
    }

    .calendari-escriptori .dies-columna {

        gap: 0.5rem;

    }

    .calendari-escriptori .dies {
        gap: 0.5rem;
    }


    #draggable {
        position: static;
        height: auto;

    }

    #draggable .header-arxius {

        width: -webkit-fill-available;

    }

    .container-escritorio .header-arxius {
        display: none;
    }

    .container-arxius {


        height: 100%;
        overflow: scroll;

        justify-content: flex-start;

    }

    .container-escritorio {

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;



    }

    .container-projecte {
        display: flex;
        flex-direction: column;
    }

    .icon-projecte {
        align-self: center;
        margin-left: 0;
    }

    .capitol {
        border-radius: 0;
    }

    .scan-text {
        padding: 0.5rem;
    }

    .scan h3 {
        font-size: 16px;
    }

    .scan p {
        font-size: 10px;
    }

    .power-nav {
        left: auto;
        right: 1rem;
        bottom: 4.5rem;
    }



    .carpeta-escriptori {
        position: relative;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0;

    }



    .container-capitol::-webkit-scrollbar {
        width: 0.5em;
    }

    .container-arxius::-webkit-scrollbar {
        width: 0.5rem;
    }




    .bafarada {
        margin: 1rem;
        top: 0;
        bottom: auto;
        right: auto;

        width: auto;
        margin-top: -10rem;

    }

    .power-button {
        bottom: 1rem;
        right: 2rem;
    }

    .power-nav.side {
        left: auto;
        top: auto;
        right: 1rem;
        bottom: 5rem;
        transform: translate(0%, 0%);
    }

    .navbar-link.escriptori {
        border-radius: 1.5rem;

    }

    .imatge-projecte {
        align-self: center;


    }

    .navbar-link:hover + .hover-text {
        visibility: hidden;
        opacity: 0;
    }

}
